html {
  font-size: 16px;
}

body {
  font-family: Montserrat, sans-serif
  color: #222324;
  line-height: 1.6;
  background-color: #ffffff;
}


p {
  font-size: 0.9375rem;
  font-weight: 300;
  color: #656565;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 1rem;
}

a:hover {text-decoration: none}

p .bold {
    font-weight:bold
}